@import url(http://fonts.googleapis.com/css?family=Londrina+Sketch);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Londrina+Sketch|Wire+One|Racing+Sans+One|Peralta|Monofett|Gruppo|Wellfleet|Ranchers|Londrina+Shadow);

body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	/*background-image: url('images/plaidblack.jpg');*/
	/*background-repeat: repeat;*/
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	color: white;
	border: none;
}

.page-header {
	font-family: "Londrina Sketch", cursive;
	font-size: 60px;
	color: red;
}

.appTitle {
	color: white;
}


h3 {
	font-family: "Peralta", cursive;
}

h4 {
	font-family: "Peralta", cursive;
}

p {
	font-family: "Peralta", cursive;
}

.letteru {
	color: white;
}

img#pangeaScreen {
	background-image: url('images/pangea1.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 700px;
	height: 300px;
}

img.img-responsive {
	border: 10px solid rgba(0,0,0,.8);
	box-shadow: 2px 2px 2px #333;
}

footer {
	margin: 50px 0;
}
